* {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "avenir next"
}

.dashboard-header {
  display: none;
}

.header-mobile {
  height: 60px;
  background-color: #59CDDE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
}

.sidebar-desktop {
  display: none;
}

.heart-icon {
  height: 40px;
}

.user-image {
  border-radius: 1000px;
  height: 50px;
}


/*TODAYS EXERCISES*/
.todays-exercises {
}

.todays-exercises h1 {
  background-color: #59CDDE;
  padding: 15px;
  color: #fff;
  font-weight: 200;
  font-size: 28px;
  border-bottom: 1px solid #2a97a7;
}

.exercise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f1f5f8;
  height: 90px;
  border-bottom: 1px solid #979797;
}

.exercise-info {
  font-weight: 200;
}

.exercise-name {
  font-weight: 200;
  margin-bottom: 5px;
}

.exercise-visual {
  background-color: #fff;
  height: 140px;
  padding: 20px;
  background-image: url('/assets/chair-squats.png');
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center 50px;
}

.exercise-visual-name {
  text-align: center;
  font-weight: 400;
  color: #757575;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  top: 50%;
  width: 100%;
  margin-top: 10px;
}

.nav-buttons img {
  width: 30px;
}


.cal-header {
  color: #fff;
  padding: 15px;
  background-color: #59CDDE;
}

.year {
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 5px;
}

.cal-date {
  font-weight: 500;
}

.cal-image {
  width: 100%;
}

.cal-btns {
  display: flex;
  justify-content: flex-end;
}

.cal-btns button {
  margin: 40px 15px 10px 0;
  color: #59CDDE;
  font-weight: 500;
  border: none;
  background: transparent;
  outline: none;
}
.cal-btns button:hover {
  cursor: pointer;
}


/*****Media Queries****/
@media screen and (min-width: 800px) {
  main {
    background-color: #e3e9ec;
  }

  .header-mobile{
    display: none;
  }

  .sidebar-desktop {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #59CDDE;
    width: 170px;
  }

  .sidebar-desktop img {
    height: 70px;
    margin-bottom: 5px;
    width: 70px;
  }


  .sidebar-desktop p {
    color: #3f919d;
  }

  .sidebar-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 170px;
    width: 170px;
  }

  .sidebar-nav-item:hover {
    background-color: #7be6f6;
    cursor: pointer;
  }

  .selected:hover {
    background-color: #e3e9ec;
  }

  .selected {
    background-color: #e3e9ec;
  }

  .selected p {
    text-align: center;
  }

  .dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  .dashboard-heading {
    font-size: 50px;
    font-weight: 200;
  }

  .user-info {
    display: flex;
    align-items: center;
  }

  .user-info p {
    font-size: 20px;
  }

  .avatar {
    border-radius: 1000px;
    height: 100px;
    margin-left: 20px;

  }

  body {
    flex-direction: row;
  }
}
